<div :if={@inexact_matches}>
  <%= Enum.count(@inexact_matches) %> close matches found <hr />
  <%= for [keyword, id_gloss] <- @inexact_matches do %>
    <.link href={~p"/dictionary/sign/#{id_gloss}?q=#{keyword}"}><%= keyword %></.link>
  <% end %>
</div>
