<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Signbank" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header class="navbar">
          <nav>
            <div class="flex items-center gap-4">
              <%!-- home about auslan research vocabulary grammar --%>
              <%!-- TODO: logo styling/layout --%>
              <a href="/">
                <img src={~p"/images/logo.svg"} />
              </a>
            </div>
            <ul>
              <li><.link href={~p"/"}><%= SignbankWeb.Gettext.gettext("Home") %></.link></li>
              <li>
                <.link href={~p"/about"}>
                  <%= SignbankWeb.Gettext.gettext("About Auslan") %>
                </.link>
              </li>
              <li>
                <.link href={~p"/research"}><%= SignbankWeb.Gettext.gettext("Research") %></.link>
              </li>
              <li>
                <.link href={~p"/vocabulary"}>
                  <%= SignbankWeb.Gettext.gettext("Vocabulary") %>
                </.link>
              </li>
              <li>
                <.link href={~p"/about/grammar"}>
                  <%= SignbankWeb.Gettext.gettext("Grammar") %>
                </.link>
              </li>
              <li>
                <%!-- phx-change="validate" --%>
                <form action="/dictionary" method="GET">
                  <input type="text" name="q" placeholder="Search..." />
                  <button type="submit"><Heroicons.magnifying_glass /></button>
                </form>
              </li>
            </ul>
          </nav>
        </header>
        <%= @inner_content %>
      </div>
      <footer>
        This Signbank is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons BY-NC-ND 4.0</a>.
        <p class="app_version">
          Signbank v<%= Application.spec(:signbank, :vsn) %>
        </p>
      </footer>
    </div>
  </body>
</html>
