[Unit]
Description=Signbank
After=network.target

[Service]
User=signbank
Group=signbank
# This will allow using `systemd:notify/1` for informing the system supervisor
# about application status.
Type=notify
# Application need to start in foreground instead of forking into background,
# otherwise it may be not correctly detected and system will try to start it
# again.
ExecStartPre=/opt/signbank/bin/signbank eval "Signbank.Release.migrate()"
ExecStart=/opt/signbank/bin/signbank start
ExecStop=/opt/signbank/bin/signbank stop
# Enable watchdog process, which will expect messages in given timeframe,
# otherwise it will restart the process as a defunct. It should be managed
# automatically by `systemd` application in most cases and will send messages
# twice as often as requested.
#
# You can force failure by using `systemd:watchdog(trigger)` or manually ping
# systemd watchdog via `systemd:watchdog(ping)`.
WatchdogSec=10s
Restart=on-failure
EnvironmentFile=/etc/signbank/signbank.conf

[Install]
WantedBy=multi-user.target
