main {
  padding: 1em 2em;
}


// body {
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// }

h2 {
  font-size: 1.8em;
  color: #403c56;
}

h3 {
  font-size: 1.4em;
  color: #403c56;
}

.img-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-flex div {
  width: 8em;
  padding: 0.5em;
  align-self: center;
}

.img-flex img {
  width: 100%;
}

#sponsor-logos div {
  width: 120px;
  padding: 10px;
}

#previous-dictionaries div {
  width: 120px;
  padding: 10px;
}

ol.bibliography {
  list-style-type: none;
}

ol.bibliography li {
  line-height: 1.5em;
  text-indent: -2em;
  padding: 0.4em 0;
}