@font-face {
  font-family: atkinson-hyperlegible;
  src: url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: atkinson-hyperlegible;
  src: url("../fonts/Atkinson-Hyperlegible-Italic-102a.woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: atkinson-hyperlegible;
  src: url("../fonts/Atkinson-Hyperlegible-Bold-102a.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: atkinson-hyperlegible;
  src: url("../fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: hamnosys;
  src: url("../fonts/hamnosysunicode-webfont.woff2") format("woff2"), url("../fonts/hamnosysunicode-webfont.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}